.component-latest-posts {
  background:$light;
  padding:em(158) 0 em(156);
  h2 {
    margin-top:0;
  }
  .latest_posts__headline,.latest_posts__description {
    text-align:center;
  }
  .latest_posts__description {
    margin-bottom:em(60) !important;
  }
  @include media-breakpoint-down(lg) {
    padding:em(92) 0 em(121);
  }
  @include media-breakpoint-down(md) {
    padding:em(72) 0 em(79);
  }
}
