@mixin navbar-with-trigger {
  .navbar-toggler__wrapper {
    &:hover {
      + .navbar-collapse:not(.show) {
        max-height:8px;
      }
    }
  }
  .navbar-toggler {
    display:flex;
    .collapsed {
      display:none;
    }
    .show {
      display:inline-block;
    }
    &.collapsed {
      .collapsed {
        display:inline-block;
      }
      .show {
        display:none;
      }
    }
  }
  .navbar-collapse {
    max-height:8px;
    overflow:hidden;
    transition:all .33s ease;
    .nav-link {
      opacity:0;
      transition:opacity .33s ease,border .33s ease;
    }
    &.collapse:not(.show) {
      display:block;
    }
    &.collapsing {
      min-height:8px;
    }
    &.show {
      max-height:em(96);
      .nav-link {
        opacity:1;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .navbar-collapse {
      &.show {
        max-height:100vh;
      }
    }
  }
}


%nav-link-active {
  &:after {
    width:100%;
  }
  span {
    font-weight:900;
  }
}

.navbar-site {
  margin:0;
  padding:0;
  .navbar-primary {
    width:100%;
  }
  .navbar-toggler__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
  }
  .navbar-toggler {
    color: $light;
    background:$darkest;
    border:none;
    border-radius:0;
    outline:none;
    padding:em(9) em(9) em(8);
    font-size:1em;
    box-shadow:none;
    width:em(97);
    height:em(40);
    align-items:center;
    justify-content:center;
    span {
      font-size:1em;
      line-height:1em;
      font-weight:900;
    }
    i {
      font-size: 1em;
      vertical-align: top;
      line-height: .8em;
      display:inline-block;
      margin-right:.5em;
    }
    &:focus {
      outline:none;
    }
  }
  @include media-breakpoint-down(lg) {
    @include navbar-with-trigger;
  }
}

.nav-site {
  justify-content:space-between;
  flex-direction:row;
  .nav-item {
    &.current_page_item {
      .nav-link {
        @extend %nav-link-active;
      }
    }
  }
  .nav-link {
    @include typeNavLink;
    padding:0 em(28) !important;
    width:em(161);
    height:em(96);
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:em(7) solid transparent;
    position:relative;
    transition:all .25s ease;
    position:relative;
    &:after {
      content:"";
      position:absolute;
      height:em(7);
      width:0;
      background:$light;
      transition:width .4s ease;
      bottom:em(-7);
      left:0;
    }
    &:hover {
      @extend %nav-link-active;
    }
    @include media-breakpoint-down(xl) {
      font-size:.9em;
      line-height:1.2em;
    }
  }
  @include media-breakpoint-down(lg) {
    flex-wrap:wrap;
    .nav-item {
      width:50%;
      &:nth-last-child(-n+2) {
        .nav-link {
          border-bottom-width:0;
        }
      }
    }
    .nav-link {
      width:100%;
      border-bottom:1px solid $light;
      &:after {
        bottom:-1px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .nav-item {
      width:100%;
      &:last-child {
        .nav-link {
          border-bottom:none !important;         
        }
      }
      &.current_page_item {
        .nav-link {
          border-left:em(7) solid $light;
        }
      }
    }
    .nav-link {
      text-align:left;
      justify-content:flex-start;
      border-bottom:1px solid $light !important;
      &:after {
        content:none;
      }
      &:hover {
        border-left:em(7) solid $light;
      }
    }
  }
}