<header id="site-header" class="component component-contrast component-darkest">
  <div class="container">
    <nav class="navbar navbar-site navbar-expand-lg">
      <div class="navbar-toggler__wrapper">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="collapsed"><i class="bi bi-chevron-down"></i> Menu</span>
          <span class="show"><i class="bi bi-chevron-up"></i> Hide</span> 
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-primary">
          {% include 'nav-site.twig' %}
        </div>
      </div>
    </nav>
  </div>
</header>


