body.home {
  .component-hero-with-cta {
    @extend .component-edge-reverse;
    text-align:center;
    padding-top:em(300);
    .hero__content__inner {
      max-width:em(640);
      margin:0 auto;
    }
    .hero__description,.hero__headline {
      text-shadow:0px 3px 6px $dark;
    }
    .hero__description {
      @include typeLarge;
    }
    .hero__cta {
      @extend .btn-large;
      box-shadow:0px 3px 6px $dark;
    }
    @include media-breakpoint-down(lg) {
      padding-top:em(79);
    }
    @include media-breakpoint-down(md) {
      padding-top:em(72);
    }
  }
  .component-updates {
     @extend .component-edge-top, .component-edge-top-reverse, .component-edge-top-violet;
     padding-top:em(221);
  }
}