html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  @include typeDefault;
}
a {
  @include typeLink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include typeHeader;
  a {
    @include typeLinkNoUnderline;
  }
}
h1 {
  @include typeHeaderSuper;
}
h2 {
  @include typeHeaderBody;
}

#site-footer ~ #site-main {
  display: none;
}

.error404 {
  .post__content__wrapper {
    padding-bottom:em(120);
  }
}

hr:not([size]) {
  height: 0;
  background:transparent;
  border: solid $gray;
  border-width: 1px 0 0;
  margin: 0;
  padding-bottom: 25px;
  opacity:1;
}