{% extends 'base-single.twig' %}

{% block content %}
      {% include 'hero_with_cta.twig' with {
          fields:{
              headline: 'Page Not Found',
              interior: true
          }
      }%}
    <div class="post__content__wrapper">
        <div class="post__section post__section-main">
            <div class="container">
                <div class="row">
                    <div class="col-12 post__content">
                        <h2>We're sorry!</h2>
                        <p>That link doesn't appear to lead to a valid page. You can try again or visit our <a href="/">homepage</a> or <a href="/?s=">site search</a> to continue your visit.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}